#add {
  padding: 120px 0px;
  .add_container {
    max-width: 1200px;
    margin: auto;
    .add_content {
      h2 {
        font-size: 40px;
        color: black;
        margin-bottom: 50px;
        text-align: center;
      }
      .add_form {
        text-align: center;
        form {
          h4 {
            margin-bottom: 20px;
          }
          input {
            margin-bottom: 20px;
          }
        }
      }
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        .table_img{
            width: 200px;
        }
        td,
        th {
          border: 1px solid #dddddd;
          text-align: center;
          padding: 8px;
        }
        tr:nth-child(even) {
          background-color: #dddddd;
        }
      }
    }
  }
}
